@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    --primary-color: #0b3d91;
    --secondary-color: #fc3d21;
    --heading-color: #02112a;
    --font-color: #555;
    font-family: Poppins, sans-serif;
}

body.dark {
    background: #000;
}

.container {
    width: 79%;
    padding: 0 15px;
    max-width: 1200px;
}

h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8c89a2;
    letter-spacing: .5px;
}

h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
}

body.dark h3 {
    color: #eee;
}

.btn-primary {
    line-height: 16px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    padding: 18px 36px;
    background-color: var(--primary-color);
    transition: all .5s ease;
    border: 1px solid var(--primary-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: #063fa1;
    border-color: #003ba0;
    box-shadow: 0 0 0 0.2rem rgb(6 63 161 / 25%);
}

a.btn-outline-primary {
    color: var(--primary-color);
    line-height: 16px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    padding: 18px 36px;
    transition: all .5s ease;
}

a.btn-outline-primary:hover {
    color: #fff;
    background-color: #063fa1;
    border-color: var(--primary-color);
}

.top_btn {
    width: 42px;
    height: 42px;
    background-color: var(--secondary-color);
    color: #fff;
    position: fixed;
    bottom: -50px;
    right: 28px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    z-index: 20;
    transition: all .5s ease;
}

/* ----------------- HEADER STYLE -----------------*/

.logo {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 30px;
}

body.dark .logo {
    color: #eee;
}

header {
    height: 90px;
    padding: 0;
    display: grid;
    align-items: center;
    background-color: #ffffff;
    transition: all .2s ease;
    z-index: 99 !important;
    box-shadow: none;
}

body.dark header {
    background: #000;
}

header.scrolled {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 6px 0px;
    height: 80px;

}

a.logo span {
    color: var(--primary-color);
}

body.dark header nav .container li a.nav-link {
    color: #eee;
}

body.dark header nav .container li a.nav-link:hover {
    color: var(--secondary-color);
}

header nav .container li a.nav-link {
    color: var(--heading-color);
    font-weight: 400;
    font-size: 16px;
}

header nav .container li a.nav-link:hover {
    color: var(--secondary-color);
}

header nav .container a.active {
    color: var(--secondary-color) !important;
}

.nav-item {
    padding: 0 12px;
}

header nav a.search-btn {
    background-color: #f5f6f9;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary-color);
    transition: all .5s ease;
    background: #f5f6f9;
    color: #fc3d21;
}

header.scrolled nav a.search-btn {
    background: #fc3d21;
    color: #FFF;
}

header nav ul.search-list li {
    padding: 0 12px;
}

header nav a.search-btn:hover {
    color: #ffffff;
    background-color: var(--secondary-color);
}

header nav ul.search-list a.Purchase-btn {
    border: none;
    line-height: 16px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    padding: 18px 36px;
    background-color: var(--primary-color);
    transition: all .5s ease;
}

header nav ul.search-list a.Purchase-btn:hover {
    color: #fff;
    background-color: #063fa1;
    border-color: #063fa1;
    box-shadow: 0 0 0 0.2rem rgb(6 63 161 / 25%);
}

header nav .dark-mode {
    border: 0;
    font-size: 25px;
    padding-right: 0;
}

body.dark header .collapse {
    background: #000 !important;
}

body.dark header nav .dark-mode {
    color: #FFF;
}

/* ----------------- hero-sec STYLE -----------------*/
.hero {
    background-image: url(../images/banner4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
    position: relative;
    z-index: 0;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0 0 0 / 75%);
    min-height: 100%;
    z-index: -1;
}

.hero h2 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 56px;
}

.hero ul {
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
}

.hero ul a {
    color: var(--secondary-color);
    opacity: .9;
    text-decoration: none;
    transition: all .5s;
}

.hero ul a:hover {
    opacity: 1;
}

/* ----------------- courses-sec STYLE -----------------*/


/* -------------- left --------------*/

.courses-sech3 {
    font-size: 42px;
    line-height: 52px;
}

.courses-sec .card-body {
    padding: 55px;
}

body.dark .courses-sec .card {
    background: #161616;
}

body.dark .courses-sec .card-body a {
    color: #eee;
}

.courses-sec .card-body a {
    text-decoration: none;
    color: var(--heading-color);
    display: block;
}

.courses-sec .card-body i {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 900;
}

.courses-sec .card-body a span.meta-value {
    font-size: 14px;
    line-height: 21px;
}

.courses-sec .card-body .card-text {
    font-weight: 700;
    line-height: 30px;
    transition: all .3s ease;
}

.courses-sec .card-body:hover .card-text {
    color: var(--primary-color);
}

.courses-sec .card-body a span {
    color: var(--primary-color);
}

body.dark .courses-sec .card-body span {
    color: #ddd;
}

.courses-sec .card-body .linke a {
    color: #fff;
    display: inline-block;
}

.page-number .list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-number .list .list-item a {
    font-weight: 700;
    background-color: #fff;
    border-radius: 6px;
    text-decoration: none;
    color: var(--font-color);
    padding: 10px 18px;
    border: 1px solid #ddd;
    transition: .15s linear, color .15s linear;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}

.page-number .list .list-item.active a,
.page-number .list .list-item:hover a {
    background-color: var(--secondary-color);
    color: #fff;
}

/* -------------- right --------------*/

.widget {
    background-color: #f5f6f9;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid #f5f6f9;
    margin-bottom: 30px;
}

.widget form {
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark .widget {
    background: #161616;
    border-color: #555;
}

.widget form input#search {
    display: block;
    height: 50px;
    border: 1px solid #ddd;
    outline: none;
    border-right: none;
    font-size: 18px;
    color: var(--font-color);
    border-radius: 4px;
}

.widget form input#search:focus {
    border-color: var(--primary-color);
}

.widget form input#submit {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: .25rem;
    padding: 6px 12px;
    display: inline-block;
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
}

.widget .content .list {
    list-style: none;
    margin: 0;
    padding: 0;
}

body.dark .heading h2 {
    color: #eee;
}

.heading h2 {
    color: var(--heading-color);
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 30px;
}

.widget#search .content .list li {
    padding-top: 10px;
    transition: all .5s ease;
}

body.dark .widget#search .content .list li a {
    color: #ddd;
}

.widget#search .content .list li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    transition: all .5s ease;
}

.widget#search .content .list li:hover a {
    color: var(--secondary-color);
}

.widget#search .content .list li:hover {
    padding-left: 5px;
}

.widget#search .content .list li a i {
    color: var(--secondary-color);
    font-size: 13px;
    margin-right: 12px;
}

.widget#Comments li {
    margin: 20px 0;
}

.widget#Comments a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 15px;
    transition: all .3s ease;
    padding: 0 2px;
}

.widget#Comments a:hover {
    text-decoration: underline;
}

/* ----------------- search-sec STYLE -----------------*/
.search-sec {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
    width: 100%;
    z-index: 100;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
}

.search-sec .popup {
    position: relative;
    padding: 15px;
    margin: 0 auto;
    top: 40%;
    max-width: 600px;
}

.search-sec .close_btn {
    position: absolute;
    top: -100px;
    right: 0;
    transition: all 200ms;
    text-decoration: none;
    color: var(--heading-color);
    font-size: 35px;
}

.search-sec .close_btn:hover {
    opacity: .8;
}

.search-sec form {
    padding: 40px;
    max-width: 640px;
    border-radius: 10px;
    background-color: #f5f6f9;
}

.search-sec input {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    height: 55px;
    width: 100%;
    padding: 0 20px;
    color: var(--font-color);
    border-radius: 10px;
    border: 1px solid #f5f6f9;
    background: #fff;
}

.search-sec input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
    box-shadow: none;
}

.search-sec .btn-primary {
    padding: 0 20px;
    border: none;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    height: 55px;
}

/* ----------------- footer STYLE -----------------*/

footer {
    background-color: #000;
}

footer .logo {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    line-height: 26px;
}

footer h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 25px;
}

footer p {
    color: #fff;
    opacity: 0.8;
    font-size: 15px;
    line-height: 26px;
    margin: 0;
    letter-spacing: 1px;
}

footer .linkes a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 6px;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    color: #fff;
    transition: 0.3s;
    border-radius: 10px;
    line-height: 40px;
    font-size: 14px;
}

footer .linkes a:hover {
    background-color: #fb4b32;
    color: #fff;
}

.copyright {
    border-top: 1px solid rgb(43 44 50 / 29%);
}

.copyright p a {
    color: #fff;
    text-decoration: none;
    transition: all .3s ease;
}

.copyright p a:hover {
    color: var(--secondary-color);
}